In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
covdeath = pd.read_csv('covid_deaths.csv')

In [4]:
covdeath.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests
0,AFG,Asia,Afghanistan,24-02-2020,40099462.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25-02-2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26-02-2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27-02-2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28-02-2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
covdeath['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [17]:
covdeath.drop('new_cases_smoothed',axis=1,inplace=True)

In [21]:
covdeath.drop(['new_deaths_smoothed','reproduction_rate','icu_patients','icu_patients_per_million','hosp_patients']
              ,axis =1,inplace=True)

In [23]:
 covdeathNG = covdeath[covdeath['location']=='Nigeria']

In [26]:
covdeathNG [covdeathNG['total_cases'] == covdeathNG['total_cases'].max()]

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,...,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests
132635,NGA,Africa,Nigeria,14-07-2022,213401323.0,258934.0,60.0,3144.0,0.0,1213.366,...,0.868,14.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
132636,NGA,Africa,Nigeria,15-07-2022,213401323.0,258934.0,0.0,3144.0,0.0,1213.366,...,0.868,14.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
covdeath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201499 entries, 0 to 201498
Data columns (total 21 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            201499 non-null  object
 1   continent                           189827 non-null  object
 2   location                            201499 non-null  object
 3   date                                201499 non-null  object
 4   population                          200292 non-null  float64
 5   total_cases                         193433 non-null  float64
 6   new_cases                           193185 non-null  float64
 7   total_deaths                        174757 non-null  float64
 8   new_deaths                          174733 non-null  float64
 9   total_cases_per_million             192543 non-null  float64
 10  new_cases_per_million               192295 non-null  float64
 11  new_cases_smoothed_per_million      191123 non-null  float64
 12  total_deaths_per_million            173880 non-null  float64
 13  new_deaths_per_million              173856 non-null  float64
 14  new_deaths_smoothed_per_million     172699 non-null  float64
 15  hosp_patients_per_million           27893 non-null   float64
 16  weekly_icu_admissions               6534 non-null    float64
 17  weekly_icu_admissions_per_million   6534 non-null    float64
 18  weekly_hosp_admissions              13024 non-null   float64
 19  weekly_hosp_admissions_per_million  13024 non-null   float64
 20  total_tests                         79385 non-null   float64
dtypes: float64(17), object(4)
memory usage: 32.3+ MB

In [42]:
covdeath[covdeath['continent'].notnull()].sort_values(by = 'new_cases',ascending=False)

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,...,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests
190579,USA,North America,United States,10-01-2022,336997624.0,61801344.0,1383889.0,840156.0,2014.0,183388.070,...,2308.719,2493.062,5.976,5.284,422.104,NaN,NaN,144566.0,428.982,749470715.0
190587,USA,North America,United States,18-01-2022,336997624.0,67871413.0,1129480.0,856249.0,2686.0,201400.272,...,2239.392,2540.816,7.970,5.755,454.709,NaN,NaN,151017.0,448.125,768716075.0
190572,USA,North America,United States,03-01-2022,336997624.0,56355115.0,1044975.0,827692.0,1844.0,167227.040,...,1478.681,2456.077,5.472,4.050,322.786,NaN,NaN,111117.0,329.726,731226278.0
190593,USA,North America,United States,24-01-2022,336997624.0,71943248.0,922137.0,869953.0,2166.0,213482.953,...,2204.897,2581.481,6.427,6.948,429.558,NaN,NaN,140625.0,417.288,781403998.0
190588,USA,North America,United States,19-01-2022,336997624.0,68779540.0,908127.0,859756.0,3507.0,204095.029,...,2264.616,2551.223,10.407,6.042,458.579,NaN,NaN,149980.0,445.048,771675297.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193343,URY,South America,Uruguay,14-07-2022,3426260.0,965370.0,NaN,7373.0,NaN,281756.201,...,NaN,2151.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193344,URY,South America,Uruguay,15-07-2022,3426260.0,965370.0,NaN,7373.0,NaN,281756.201,...,NaN,2151.909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198067,ESH,Africa,Western Sahara,20-04-2022,565581.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3943.0
199097,YEM,Asia,Yemen,11-08-2020,32981641.0,1831.0,NaN,523.0,5.0,55.516,...,NaN,15.857,0.152,0.074,NaN,NaN,NaN,NaN,NaN,NaN
200694,ZWE,Africa,Zimbabwe,02-05-2020,15993524.0,34.0,NaN,4.0,0.0,2.126,...,NaN,0.250,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
 dategb = covdeath.groupby('date')
 dategb.sum()['new_deaths'].sort_values(ascending=False)

date
20-01-2021    77115.0
26-01-2021    75796.0
27-01-2021    73698.0
05-02-2021    73491.0
21-01-2021    73088.0
               ...
09-01-2020        0.0
14-01-2020        0.0
10-01-2020        0.0
02-01-2020        0.0
01-01-2020        0.0
Name: new_deaths, Length: 927, dtype: float64

In [62]:
covdeath['new_cases'].sum()

2396551976.0